<div id="<%= dom_id airdrop %>">
  <p>
    <strong>Name:</strong>
    <%= airdrop.name %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= airdrop.logo %>
  </p>

  <p>
    <strong>Intro:</strong>
    <%= airdrop.intro %>
  </p>

  <p>
    <strong>Official web:</strong>
    <%= airdrop.official_web %>
  </p>

  <p>
    <strong>Reward:</strong>
    <%= airdrop.reward %>
  </p>

  <p>
    <strong>Network:</strong>
    <%= airdrop.network %>
  </p>

  <p>
    <strong>Eligibility:</strong>
    <%= airdrop.eligibility %>
  </p>

  <p>
    <strong>Begin time:</strong>
    <%= airdrop.begin_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= airdrop.end_time %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= airdrop.status %>
  </p>

</div>
