<div class="blockcain-and-logo-area">
	<!-- blockcain business section start -->
	<section class="blockcain-business-sec">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-6 wow fadeInUp" data-wow-duration="1.5s">
					<div class="blockcain-img"><%= image_tag "blockchain/block_img.png" %></div>
				</div>
				<!-- col end -->
				<div class="col-md-6 col-lg-5 offset-lg-1 wow fadeInUp" data-wow-duration="2s">
					<div class="blockcain-content"><small class="xs-section-title">獲取空頭</small>
						<h3 class="column-title">輕鬆捕獲區塊鏈紅利</h3>
						<!-- <p>A better way to present your money using fully featured digital currency and now available on the team xpeed studio for everyone!It’s the fastest and most scalable digital asset,enabling real-time contracts and apps
									any where in the world. </p>
						<p>Bitcoin Ethereum blockchains are slow and expensive. Cost of transactions is a high(and getting higher) Speed of others transactions is low </p>
						 -->
						<div class="card-body">
							<h5 class="xs-section-title">[  實時更新  ]</h5>
							<p class="mb-3">不定期推送空投項目清單，涵蓋詳細信息與最新動態，確保您不錯過任何機會。</p>
						</div>
						
						<div class="card-body">
							<h5 class="xs-section-title">[  操作簡明  ]</h5>
							<p class="mb-3">提供清晰的操作步驟，從任務參與到獎勵領取，手把手助您完成每一步。</p>
						</div>
						
						<div class="card-body">
							<h5 class="xs-section-title">[  收益直達  ]</h5>
							<p class="mb-3">通過精準指導，輕松獲取空投獎勵，讓您的數字資產穩步增值。</p>
						</div>
						 
						
						
						<a href="/profile" class="btn btn-primary">立即體驗</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- blockcain business section end -->
		
	<!-- client logo section start -->
	<section class="client-logo-sec">
		<div class="container">
			<div class="client-logo-item">
				<div class="row owl-carousel" id="client-slider">
					<div class="col-sm wow fadeInUp" data-wow-duration="1.5s">
						<div class="client-logo"><%= image_tag "client_logo/logo_style1.png" %></div>
					</div>
					<div class="col-sm wow fadeInUp" data-wow-duration="2s">
						<div class="client-logo"><%= image_tag "client_logo/logo_style2.png" %></div>
					</div>
					<div class="col-sm wow fadeInUp" data-wow-duration="2.5s">
						<div class="client-logo"><%= image_tag "client_logo/logo_style3.png" %></div>
					</div>
					<div class="col-sm wow fadeInUp" data-wow-duration="3s">
						<div class="client-logo"><%= image_tag "client_logo/logo_style4.png" %></div>
					</div>
					<div class="col-sm wow fadeInUp" data-wow-duration="3.5s">
						<div class="client-logo"><%= image_tag "client_logo/logo_style5.png" %></div>
					</div>
					<div class="col-sm wow fadeInUp" data-wow-duration="4s">
						<div class="client-logo"><%= image_tag "client_logo/logo_style6.png" %></div>
					</div>
					<div class="col-sm wow fadeInUp" data-wow-duration="4.5s">
						<div class="client-logo"><%= image_tag "client_logo/logo_style7.png" %></div>
					</div>
					<div class="col-sm wow fadeInUp" data-wow-duration="5s">
						<div class="client-logo"><%= image_tag "client_logo/logo_style8.png" %></div>
					</div>
					<div class="col-sm wow fadeInUp" data-wow-duration="5.5s">
						<div class="client-logo"><%= image_tag "client_logo/logo_style9.png" %></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- client logo section end -->
</div>