<section class="banner-sec" id="particles-js1">
	<div class="banner-item" style="background: url(<%= asset_path('background/banner_bg.jpg') %>) no-repeat center center /cover">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<div class="banner-content">
						<h1 class="banner-title">價值交換俱樂部</h1>
						<p>ValueSwap以投資顧問和理財的專業背景優勢，為客戶提供資產保值增值的專業化財富管理服務。我們始終以客戶在交易咨詢和財富管理層面的需求為中心，為客戶提供專業化、標準化的投資咨詢服務和專業技術支持。</p>
						<a href="/profile" class="btn btn-primary">加入我們</a>
					</div>
				</div>
			</div>
			<div class="banner-img-item">
				<%= image_tag "banner/banner_img.png", class: "banner-img" %>
				<%= image_tag "banner/b1.png", class: "banner-ico banner-ico-1" %>
				<%= image_tag "banner/b2.png", class: "banner-ico banner-ico-2" %>
				<%= image_tag "banner/b3.png", class: "banner-ico banner-ico-3" %>
				<%= image_tag "banner/b4.png", class: "banner-ico banner-ico-4" %>
				<%= image_tag "banner/b5.png", class: "banner-ico banner-ico-5" %>
			</div>
		</div>
	</div>
</section>