<section class="doceumnt-sec section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<div class="section-title-item"><small class="xs-section-title">文檔</small>
					<h2 class="section-title">幫助中心</h2>
				</div>
			</div>
		</div>
		<!-- row end -->
				
		<div class="row">
			<div class="col-lg-8 mx-auto wow fadeInUp" data-wow-duration="1.5s">
				<div class="nav xs-tabs-menu" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
					<a class="active col-md" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
						<i class="icon-wallet"></i>錢包
					</a>
					<a class="col-md" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-paper" role="tab" aria-controls="v-pills-paper" aria-selected="false">
						<i class="icon-whitepaper"></i>代理計畫
					</a>
					<a class="col-md" id="v-pills-report-tab" data-toggle="pill" href="#v-pills-reports" role="tab" aria-controls="v-pills-reports" aria-selected="false">
						<i class="icon-report"></i>交易
					</a>
					<a class="col-md" id="v-pills-ico-tab" data-toggle="pill" href="#v-pills-ICO" role="tab" aria-controls="v-pills-ICO" aria-selected="false">
						<i class="icon-structure"></i>空頭
					</a>
				</div>
				<!-- tab menu end -->
								
				<div class="road-map-tab">
						<div class="tab-content" id="v-pills-tabContent">
								<div class="tab-pane tab_item_1 show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
										<div class="row">
												<div class="col-md-6 align-self-center">
														<div class="xs-tabs-content">
																<h3 class="xs-single-title">終端軟件安裝</h3><span class="release_vertion">開發中......</span>
																<ul class="download-logo">
																		<li><%= image_tag "documentation/windows_logo-1.png" %></li>
																		<li><%= image_tag "documentation/windows_logo-2.png" %></li>
																		<li><%= image_tag "documentation/mac_ico.png" %></li>
																		<li><%= image_tag "documentation/linux_1.png" %></li>
																		<li><%= image_tag "documentation/android_1.png" %></li>
																</ul>
														</div>
												</div>
												<div class="col-md-6">
														<div class="xs-tabs-img"><%= image_tag "documentation/wallter_phones.png" %></div>
												</div>
										</div>
								</div>
								<!-- tab pane tab_item_1-->
								<div class="tab-pane tab_item_2" id="v-pills-paper" role="tabpanel" aria-labelledby="v-pills-profile-tab">
										<div class="row">
												<div class="col-md-6">
														<div class="xs-tabs-img text-center"><%= image_tag "documentation/whitepaper.png" %></div>
												</div>
												<div class="col-md-6">
														<div class="xs-white-tabs-content">
																<h3 class="xs-single-title">Download Whitepaper</h3>
																<p>A better way to present your money using fully featured digital currency and now available on the team xpeed studio for It is the fastest and most scalable digital asset,</p>
																<a href="#" class="btn btn-primary sm-btn">Download Now</a>
														</div>
												</div>
										</div>
								</div>
								<!-- tab pane tab_item_2-->
								<div class="tab-pane tab_item_3" id="v-pills-reports" role="tabpanel" aria-labelledby="v-pills-report-tab">
										<div class="report-table table-responsive">
												<table class="table">
														<thead>
																<tr>
																		<th>Name</th>
																		<th>Price</th>
																		<th>24 hr% change</th>
																		<th>market Cap</th>
																		<th>24hr volume</th>
																		<th>price graph</th>
																</tr>
														</thead>
														<tbody>
																<tr>
																		<td><%= image_tag "documentation/icon1.png" %>Bitcoin</td>
																		<td>$1097201</td>
																		<td class="change">-2.45%</td>
																		<td>$73.99B</td>
																		<td>$4.588</td>
																		<td><%= image_tag "documentation/signal.png" %></td>
																</tr>
																<tr>
																		<td><%= image_tag "documentation/icon2.png" %>Ethereum</td>
																		<td>$1097201</td>
																		<td class="change">-2.45%</td>
																		<td>$73.99B</td>
																		<td>$4.588</td>
																		<td><%= image_tag "documentation/signal.png" %></td>
																</tr>
																<tr>
																		<td><%= image_tag "documentation/icon1.png" %>Bitcoin Cash</td>
																		<td>$1097201</td>
																		<td class="change">-2.45%</td>
																		<td>$73.99B</td>
																		<td>$4.588</td>
																		<td><%= image_tag "documentation/signal.png" %></td>
																</tr>
																<tr>
																		<td><%= image_tag "documentation/icon3.png" %>Ripple</td>
																		<td>$1097201</td>
																		<td class="change">-2.45%</td>
																		<td>$73.99B</td>
																		<td>$4.588</td>
																		<td><%= image_tag "documentation/signal.png" %></td>
																</tr>
																<tr>
																		<td><%= image_tag "documentation/icon4.png" %>IOTA</td>
																		<td>$1097201</td>
																		<td class="change">-2.45%</td>
																		<td>$73.99B</td>
																		<td>$4.588</td>
																		<td><%= image_tag "documentation/signal.png" %></td>
																</tr>
																<tr>
																		<td><%= image_tag "documentation/icon1.png" %>Bitcoin Gold</td>
																		<td>$1097201</td>
																		<td class="change">-2.45%</td>
																		<td>$73.99B</td>
																		<td>$4.588</td>
																		<td><%= image_tag "documentation/signal.png" %></td>
																</tr>
																<tr>
																		<td><%= image_tag "documentation/icon2.png" %>Ethereum Classic</td>
																		<td>$1097201</td>
																		<td class="change">-2.45%</td>
																		<td>$73.99B</td>
																		<td>$4.588</td>
																		<td><%= image_tag "documentation/signal.png" %></td>
																</tr>
																<tr>
																		<td><%= image_tag "documentation/icon5.png" %>OmiseGO</td>
																		<td>$1097201</td>
																		<td class="change">-2.45%</td>
																		<td>$73.99B</td>
																		<td>$4.588</td>
																		<td><%= image_tag "documentation/signal.png" %></td>
																</tr>
																<tr>
																		<td><%= image_tag "documentation/icon2.png" %>Ethereum</td>
																		<td>$1097201</td>
																		<td class="change">-2.45%</td>
																		<td>$73.99B</td>
																		<td>$4.588</td>
																		<td><%= image_tag "documentation/signal.png" %></td>
																</tr>
																<tr>
																		<td><%= image_tag "documentation/icon1.png" %>Bitcoin</td>
																		<td>$1097201</td>
																		<td class="change">-2.45%</td>
																		<td>$73.99B</td>
																		<td>$4.588</td>
																		<td><%= image_tag "documentation/signal.png" %></td>
																</tr>
																<tr>
																		<td><%= image_tag "documentation/icon2.png" %>Ethereum</td>
																		<td>$1097201</td>
																		<td class="change">-2.45%</td>
																		<td>$73.99B</td>
																		<td>$4.588</td>
																		<td><%= image_tag "documentation/signal.png" %></td>
																</tr>
														</tbody>
												</table>
										</div>
								</div>
								<!-- tab pane tab_item_3-->
								<div class="tab-pane tab_item_4" id="v-pills-ICO" role="tabpanel" aria-labelledby="v-pills-ico-tab">
										<div class="ico-table table-responsive">
												<table class="table">
														<tr>
																<td>Pre-Sale Starts</td>
																<td>7/31/2018</td>
														</tr>
														<tr>
																<td>Pre-Sale Period</td>
																<td>7/31/2018</td>
														</tr>
														<tr>
																<td>Pre-Sale Cap</td>
																<td>7/31/2018</td>
														</tr>
														<tr>
																<td>Pre-Sale Terms</td>
																<td>7/31/2018</td>
														</tr>
														<tr>
																<td>Token Sale Starts</td>
																<td>7/31/2018</td>
														</tr>
														<tr>
																<td>Token Sale Period</td>
																<td>7/31/2018</td>
														</tr>
														<tr>
																<td>Soft Cap</td>
																<td>7/31/2018</td>
														</tr>
												</table>
										</div>
								</div>
								<!-- tab pane tab_item_4-->
						</div>
				</div>
								
			</div>
		</div>
				<!-- row end -->
	</div>
		<!-- container end -->
	<div class="documentaion-shap-img">
		<%= image_tag "documentation/globe1.png", id: "leftglobe", class: "d-shap-img-1 wow fadeInLeft", data: {wow: {duration: "1.5s"}} %>
		<%= image_tag "documentation/globe2.png", class: "d-shap-img-2 wow fadeInRight", data: {wow: {duration: "1.5s"}} %>
	</div>
</section>