<div id="<%= dom_id address %>">
  <p>
    <strong>网络:</strong>
    <%= address.network %>
  </p>

  <p>
    <strong>地址:</strong>
    <%= address.address %>
  </p>

  <p>
    <strong>私钥:</strong>
    <%= address.pri_key_encrypted %>
  </p>

  <p>
    <strong>使用状态:</strong>
    <%= address.status %>
  </p>

</div>
