<div id="<%= dom_id fund %>">
  <p>
    <strong>Name:</strong>
    <%= fund.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= fund.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= fund.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= fund.user_id %>
  </p>

</div>
