<div id="<%= dom_id operation_log %>">
  <p>
    <strong>Operation type:</strong>
    <%= operation_log.operation_type %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= operation_log.detail %>
  </p>

  <p>
    <strong>Ip:</strong>
    <%= operation_log.ip %>
  </p>

  <p>
    <strong>User agent:</strong>
    <%= operation_log.user_agent %>
  </p>

  <p>
    <strong>User:</strong>
    <%= operation_log.user_id %>
  </p>

</div>
