<div class="text-light py-5">
  <div class="container">
    <div class="row col-md-12">
      <div class="col-md-3 col-sm-12">
        <%= render 'menu' %>
      </div>
      <div class="col-md-9 col-sm-12 px-0">
        <div class="container bg2 py-2 rounded">
          <div class="row col-md-10 offset-md-1">
            <div class="col-md-4 p-2">
              <span class="text-secondary border-2 border-start border-warning ps-1 fs-6 fw-semibold"><%= t '.mycode' %></span>
              <div id="h-info" class="form-text fs075"><h2><%= current_user.code %></h2></div>
            </div>
            <div class="col-md-8 p-2 nav navbar">
              <div class="input-group">
                <textarea class="form-control border-secondary text-secondary bg2" id="invite_link" aria-label="Recipient's username" aria-describedby="button-addon2" style="resize:none;" readonly>https://www.bababtc.com/users/sign_up?code=<%= current_user.code %></textarea>
                <button class="btn btn-sm btn-outline-secondary" type="button" id="copy" onclick="copyText('invite_link');"><%= t '.copycode' %></button>
              </div>
            </div>
          </div>
        </div>
        <div class="container bg2 py-2 mt-3 rounded">
          <div class="row col-md-10 offset-md-1">
            <div class="text-muted py-2">
              <span class="border-2 border-start border-warning ps-1 fs-6 fw-semibold"><%= t '.history' %></span>
              <span class="badge text-bg-primary"><%= t '.count' %>：<%= @invite_count %></span>
            </div>
            <div class="table-responsive overflow-auto">
              <table class="table table-borderless table-sm">
                <thead>
                  <tr class="text-secondary text-nowrap">
                    <th><%= t '.num' %></th>
                    <th><%= t '.fmail' %></th>
                    <%# <th>好友角色</th> %>
                    <th><%= t '.signtime' %></th>
                  </tr>
                </thead>
                <tbody>
                  <% if @invites.present? %>
                    <% cache @invites do %>
                      <% @invites.each_with_index do |invite, no| %>
                        <% cache invite do %>
                          <tr class="text-secondary">
                            <td><%= no+1 %></td>
                            <td><%= invite.my_invite_user_email %></td>
                            <td><%= invite.created_at.strftime('%Y-%m-%d') %></td>
                          </tr>
                        <% end %>
                      <% end %>
                      <% if(paginate @invites).present? %>
                        <tr class="text-center">
                          <td colspan="3" class="text-right">
                            <%= paginate @invites, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center", nav_class: "d-inline-block" %>
                          </td>
                        </tr>
                      <% end %>
                    <% end %>
                  <% else %>
                    <tr><td colspan="3" class="text-center text-secondary"><%= t '.norecord' %></td></tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>