<div id="<%= dom_id trade %>">
  <p>
    <strong>Trade type:</strong>
    <%= trade.trade_type %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= trade.action %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= trade.price %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= trade.quantity %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= trade.total_amount %>
  </p>

  <p>
    <strong>Fee:</strong>
    <%= trade.fee %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= trade.status %>
  </p>

  <p>
    <strong>Profit loss:</strong>
    <%= trade.profit_loss %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= trade.order_id %>
  </p>

  <p>
    <strong>Executed at:</strong>
    <%= trade.executed_at %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= trade.admin_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= trade.user_id %>
  </p>

  <p>
    <strong>User exchange:</strong>
    <%= trade.user_exchange_id %>
  </p>

  <p>
    <strong>Coin:</strong>
    <%= trade.coin_id %>
  </p>

</div>
