<div class="col-md-12">
	<div class="card card-pricing">
		<div class="card-body">
			<div class="p-3">
				<div class="d-flex justify-content-between mb-3">
					<span>編號</span>
					<span><%= @coin.id %></span>
				</div>
				<div class="d-flex justify-content-between mb-3">
					<span>簡稱</span>
					<span><%= @coin.symbol %></span>
				</div>
				<div class="d-flex justify-content-between mb-3">
					<span>全稱</span>
					<span><%= @coin.name %></span>
				</div>
				<div class="d-flex justify-content-between mb-3">
					<span>報價貨幣</span>
					<span><%= @coin.quote_coin %></span>
				</div>
				<div class="d-flex justify-content-between mb-3">
					<span>Logo</span>
					<span>
					  <% if @coin.logo.attached? %>
							<%= image_tag @coin.logo, width: 32, class: "img-fluid" %>
						<% else %>
							<i class="bi bi-image text-muted" style="font-size: 32px;"></i>
						<% end %>
					</span>
				</div>
				<div class="d-flex justify-content-between mb-3">
					<span>創建時間</span>
					<span><%= @coin.created_at %></span>
				</div>
			</div>
		</div>
		<div class="nav p-3">
		  <%= link_to "編輯", edit_coin_path(@coin), class: "btn btn-warning" %>&nbsp;
		  <%= link_to "返回", coins_path, class: "btn btn-primary" %>&nbsp;
		  <%= button_to "刪除", @coin, method: :delete, class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "確認刪除？" } %>
		</div>
	</div>
</div>